# Prerequisites
*.d

# Compiled Object files
*.slo
*.lo
*.o
*.obj

# Precompiled Headers
*.gch
*.pch

# Compiled Dynamic libraries
*.so
*.dylib
*.dll

# Fortran module files
*.mod
*.smod

# Compiled Static libraries
*.lai
*.la
*.a
*.lib

# Executables
*.exe
*.out
*.app
*.pdb
*.ilk
*.recipe
*.idb
*.log
*.tlog
*.ipch
*.db
DLL/*.*
MidiLib/.vs/*.*
MidiLib/debug/*.*
MidiLib/release/*.*
MidiLib/x64/*.*
MidiLib/arm64/*.*
MidiLib/x64/Debug/MidiLib.vcxproj.FileListAbsolute.txt
MidiLib/.vs/MidiLib/v17/.suo
*.vsidx
*.vspscc
*.user
*.sln
